.card {
    width: 18.125rem;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: var(--background-primary);
    transition: all 0.08s ease-in-out;
}

.card:hover,
.card:focus-visible {
    outline: 2px solid var(--background-tertiary);
    background-color: var(--background-secondary);
}

.card>img {
    box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.50);
    width: 150px;
    margin: 0 auto 2.5em;
}

.card p:not(.author),
.card h2 {
    margin-bottom: 1em;
}

.title {
    color: var(--color-secondary);
}

.card>p {
    color: var(--color-primary);
}

.category {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .card {
        width: 17rem;
    }

    .title {
        font-size: 1.2em;
    }
}

@media (max-width: 960px)  {
    .card {
        width: 16rem;
    }
}

@media (max-width: 640px) {
    
}

@media (max-width: 480px) {
    .title {
        font-size: 1.1em;
    }

    .card>img {
        margin-bottom: 1.5em;
    }
}