.count {
    text-align: center;
    font-weight: bold;
    padding-top: 1.05em;
    font-size: 1.1em;
}

.book_list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.8rem;
    justify-content: space-between;
    margin-top: 2.5rem;
    padding: 0 1.3rem;
}

.loading {
    text-align: center;
}

.load_more_btn {
    margin-bottom: 2em;
}