.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.45rem;
    ;
}

.input_group {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.input_group input {
    width: 36.125rem;
    padding: 0.32em 0.2em;
    font-size: 1.5em;
    font-weight: bold;
}

.input_group button {
    padding: 0 0.4em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.input_group button:hover {
    background-color: black;
    color: white;
    fill: white;
    outline: 1px solid white;
}

.input_group input,
.input_group button {
    background-color: transparent;
    border: none;
}

.select_group {
    display: flex;
    gap: 1.4rem;
}

.select_group label {
    font-size: 1.2em;
    letter-spacing: normal;
}

.select_group select {
    width: 14.375rem;
    padding: 0.28em 0.5em;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 0.35em;
}

@media (max-width: 960px) {
    .input_group input {
        width: 60vw;
    }
    
    .select_group {
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (max-width: 640px) {
    .input_group input {
        font-size: 1.3em;
        width: 60vw;
    }

    .select_group label {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .input_group {
        width: 75vw;
    }

    .input_group input {
        width: 62vw;
        padding: 0.32em 0.5em;
    }

    .select_group label {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .select_group select {
        margin-top: 0.5em;
        margin-left: 0;
        width: 75vw;
    }
}