.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.45rem;
    ;
}

.input_group {
    background-color: var(--background-secondary);
    display: flex;
    justify-content: space-between;
}

.input_group input {
    width: 36.125rem;
    padding: 0.32em 0.2em;
    font-size: 1.5em;
    font-weight: bold;
}

.input_group button {
    padding: 0 0.4em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.input_group button:hover,
.input_group button:focus-visible {
    background-color: var(--background-tertiary);
    fill: var(--color-tertiary);
    outline: 1px solid var(--background-secondary);
}

.input_group input,
.input_group button {
    background-color: transparent;
    border: none;
}

.select_group {
    display: flex;
    gap: 1.4rem;
}

@media (max-width: 960px) {
    .input_group input {
        width: 60vw;
    }
    
    .select_group {
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (max-width: 640px) {
    .input_group input {
        font-size: 1.3em;
        width: 60vw;
    }
}

@media (max-width: 480px) {
    .input_group {
        width: 75vw;
    }

    .input_group input {
        width: 62vw;
        padding: 0.32em 0.5em;
    }
}