@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root {
  --background-image: url('./assets//background-lg.jpg');
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* letter-spacing: 0.01875em; */
}

body {
  height: 100vh;
}

#root {
  height: inherit;
  letter-spacing: 0.01875rem;
}

p,
h2,
h1 {
  margin: 0;
}

header {
  height: 16.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;
  padding: 2em;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), var(--background-image);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.84em;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

svg {
  display: block;
  width: 1.9em;
  height: 1.9em;
}

@media (max-width: 960px) {
  header {
    height: 21rem;
  }
}

@media (max-width: 640px) {
  :root {
    --background-image: url('./assets//background-sm.jpg');
  }

  header {
    height: 17.5rem;
  }

  h1 {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  header {
    height: 21rem;
  }

  h1 {
    font-size: 1.6em;
  }
}