@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root {
  --background-image: url('./assets//background-lg.jpg');
  --color-primary: #929292;
  --color-secondary: #000;
  --color-tertiary: #fff;
  --background-primary: #f3f2f1;
  --background-secondary: #fff;
  --background-tertiary: #000;

  --header-height: 16.9375rem;
  --tab-button-padding: 0.625em;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  height: 100vh;
}

#root {
  height: inherit;
  letter-spacing: 0.01875rem;
}

p,
h2,
h1 {
  margin: 0;
}

main {
  height: calc(100vh - var(--header-height));
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

svg {
  display: block;
  width: 1.9rem;
  height: 1.9rem;
}

@media (max-width: 640px) {
  :root {
    --background-image: url('./assets//background-sm.jpg');
  }
}